.navbar {
	background-color: #264971;
	color: white;
}

.navbar-menu {
	background-color: #264971;
	color: white;
}

#menu {
	background-color: #264971;
	color: white;
}

.navbar-burger {
	background-color: #264971;
	color: white;
}

.burger {
	background-color: #264971;
	color: white;
}

.navbar-item {
	background-color: #264971;
	color: white;
}

.burger {
	background-color: #264971;
	color: white;
}
